@model HeadRaceTimingSite.ViewModels.ImportAthletesViewModel
@{
    ViewData["Title"] = "Import Athletes";
}
<h1>Import athletes</h1>

@Model.Message

<form method="post" action="/Admin/ImportAthletes" id="importForm" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="text" name="competitionid" />
    <paper-input-container>
        <iron-input slot="input">
            <input name="csvupload" type="file" />
        </iron-input>
    </paper-input-container>
    <button class="mdc-button">Submit</button>
</form>