@using HeadRaceTimingSite.Models

@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Admin";
}

<table>
    <tr><th>Email</th></tr>
    @foreach (var item in Model)
    {
        <tr><td><a href="/Admin/EditUser/@item.Id">@item.Email</a></td></tr>
    }
</table>