<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Head Race Timing</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="~/lib/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="~/lib/polymer/polymer.html">
    <link rel="import" href="~/lib/polymer/polymer-element.html">
    <link rel="import" href="~/lib/app-layout/app-layout.html">
    <link rel="import" href="~/lib/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="~/lib/iron-icons/iron-icons.html">
    <style>
        app-header {
            background-color: #00897B;
            color: #fff;
        }

        app-header paper-icon-button {
            --paper-icon-button-ink-color: white;
        }

        app-drawer-layout:not([narrow]) [drawer-toggle] { display: none; }
    </style>
</head>
<body>

    <app-drawer-layout fullbleed>
        <app-drawer slot="drawer">
            <app-toolbar>App name</app-toolbar>
        </app-drawer>
        <app-header-layout>

            <app-header reveals>
                <app-toolbar>
                    <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                    <div main-title>Head Race Timing</div>
                </app-toolbar>
            </app-header>

            <div>
                @RenderBody()
            </div>

        </app-header-layout>
        
    </app-drawer-layout>
    

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
