
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Head Race Timing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="icon" href="~/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/dist/site.css" />
    <script>
        window.process = { env: { NODE_ENV: 'production' } };
    </script>
</head>

<body class="mdc-typography">
    <timing-app appTitle="Timing app"></timing-app>
    <noscript>
        Please enable JavaScript to view this website.
    </noscript>
    <!-- Load webcomponents-loader.js to check and load any polyfills your browser needs -->
    <script src="~/dist/webcomponents-loader.js"></script>
    <script type="module" src="~/dist/site.js" crossorigin>
    </script>
</body>