@using HeadRaceTimingSite.Models
@model IEnumerable<Competition>
@{
    ViewData["Title"] = "Home Page";
}

<div class="header-row">
    <div class="name">Event Name</div>
</div>

@Html.DisplayForModel()
