@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using HeadRaceTimingSite.Models
@model HeadRaceTimingSite.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@section imports { 
<link rel="import" href="~/lib/iron-form/iron-form.html" />
}

@{
    ViewData["Title"] = "Log in";
}

<h1>Use Google to log in.</h1>
        
@{
    var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
    var loginProviders = schemes.ToList();
    <iron-form allow-redirect>
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            @foreach (var provider in loginProviders)
            {
                <input type="hidden" name="provider" value="@provider.Name" />
                <paper-button raised onclick="submitForm()">@provider.Name</paper-button>
            }
        </form>
    </iron-form>

    <script>
        function submitForm() {
            document.querySelector('iron-form').submit();
        }
    </script>
}