<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Head Race Timing</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="~/lib/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="~/lib/polymer/polymer.html">
    <link rel="import" href="~/lib/polymer/polymer-element.html">
    <link rel="import" href="~/lib/paper-styles/typography.html">
    <link rel="import" href="~/lib/app-layout/app-layout.html">
    <link rel="import" href="~/lib/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="~/lib/iron-icons/iron-icons.html">
    <link rel="import" href="~/lib/iron-list/iron-list.html">
    <link rel="import" href="~/lib/iron-ajax/iron-ajax.html">
    <link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="~/lib/paper-card/paper-card.html">
    <custom-style>
        <style is="custom-style">
            body {
                @@apply(--paper-font-body1);
            }

            app-header {
                background-color: #00897B;
                color: #fff;
            }

            .header-row {
                @@apply(--layout-horizontal);
                line-height: 56px;
                padding-left: 24px;
                padding-right: 24px;
                border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
                color: rgba(0,0,0,0.54);
            }
            .dataRow {
                @@apply(--layout-horizontal);
                line-height: 48px;
                margin-bottom: 8px;
            }
            .item {
                @@apply(--layout-flex);
            }
            .itemData {
                @@apply(--layout-horizontal);
            }
            .row {
                @@apply(--layout-horizontal);
                line-height: 48px;
                padding-left: 24px;
                padding-right: 24px;
                border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
                color: rgba(0,0,0,0.87);
            }
            .row:hover {
                background-color: #eeeeee;
                cursor: pointer;
            }

            .name {
                @@apply(--layout-flex);
            }

            .time {
                width: 50px;
                text-align: right;
            }
            .bodyDetails {
                margin-left: 24px;
                margin-right: 24px;
                margin-top: 24px;
            }
            paper-card {
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 24px;
                margin-bottom: 16px;
            }
            paper-card h2 {
                @@apply(--paper-font-title);
            }
            paper-card table {
                width: 100%;
            }
            paper-card tr, paper-card td {
                border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
            }
            paper-card th {
                text-align: left;
            }
        </style>
    </custom-style>
</head>
<body>
    <dom-bind>
        <template>
                <app-header-layout fullbleed>

                    <app-header reveals>
                        <app-toolbar>
                            <div main-title>@ViewData["Title"]</div>
                        </app-toolbar>
                    </app-header>

                    <div>
                        @RenderBody()
                    </div>

                </app-header-layout>
        </template>
    </dom-bind>  
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
