body {
    margin: 0;
}
.bodyDetails {
    margin: 24px 24px 0 24px;
}
paper-card {
    padding: 0 16px 24px 16px;
    margin: 0 16px 16px 0;
    width: 100%;
}
.card-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 150px;
      background-repeat: no-repeat;
}
.competitionCard {
    margin: 16px 16px 0 16px;
    width: 250px;
    cursor: pointer;
}
.search, .searchTools {
    display: none;
}
app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}
paper-item, paper-icon-item {
    color: #666;
    cursor: pointer;
}
.card-table {
    padding-left: 0;
    padding-right: 0;
    --paper-card-header: {
                    margin-left: 16px;
                    margin-right: 16px;
                };
}
.card-table .card-content {
    padding-left: 0;
    padding-right: 0;
}
.card-table table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
.card-table tr, .card-table td {
    border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}
.card-table tr {
    height: 48px;
}
.card-table td, th {
    text-align: left;
    padding-left: 56px;
    white-space: nowrap;
}
.card-table td:first-child, .card-table th:first-child {
    padding-left: 24px;
}
.card-table td:last-child, .card-table th:last-child {
    padding-right: 24px;
}
app-drawer paper-item:first-child {
    margin-top: 64px;
}