@{
    ViewData["Title"] = "Results";
}
    <iron-ajax url="/data.json" last-response="{{data}}" auto></iron-ajax>

<div class="header-row">
    <div class="name">Crew Name</div>
    <div class="time">Time</div>
</div>
    <iron-list scroll-target="document" items="[[data]]" as="item">
        <template>
            <div class="row">
                <div class="name">
                    [[item.crewName]]
                </div>
                <div class="time">
                    [[item.time]]
                </div>
            </div>
        </template>
    </iron-list>