@{
    ViewData["Title"] = "Crew";
}

<paper-card>
    <div class="card-content">
        <h2>Times</h2>
        <table>
            <tr><th>Start</th><td>09:45:00</td></tr>
            <tr><th>Finish</th><td>10:03:00</td></tr>
        </table>
    </div>
</paper-card>
