@model HeadRaceTimingSite.Models.Competition
@{
    ViewData["Title"] = Model.Name;
}

<results-list competition-id="@Model.CompetitionId" first-intermediate-name="Barnes" second-intermediate-name="Hammersmith" search-value="{{searchValue}}" show-first-intermediate show-second-intermediate></results-list>

@section titleBar{
        <div main-title>@ViewData["Title"]</div>
}