@model HeadRaceTimingSite.Models.Competition
@{
    ViewData["Title"] = Model.Name;
}

<results-list competition-id="@Model.CompetitionId" first-intermediate-name="Barnes" second-intermediate-name="Hammersmith" show-first-intermediate show-second-intermediate></results-list>

@section titleBar{
    
        <div main-title>@ViewData["Title"]</div>
        <paper-icon-button icon="search" on-tap="searchToggle"></paper-icon-button>
        <paper-icon-button icon="cloud-download" on-tap="downloadData"></paper-icon-button>
    <div class="search">
        <paper-icon-button icon="arrow-back" on-tap="searchToggle"></paper-icon-button>
        <input id="searchbox" flex>
    </div>
}

@section scripts{ 
    <script>
        const app = document.getElementById('app');
        var active = false;

        app.searchToggle = function () {
            active = !active;
            $(".search").css("display", "block");
        }

        app.rowTap = function (e) {
            location.href = '/Crew/Details/' + e.target.parentNode.dataCrewId;
        }

        app.downloadData = function () {
            location.href = '/Competition/DetailsAsCsv/@Model.CompetitionId'
        }
    </script>
}