@model HeadRaceTimingSite.Models.Competition
@{
    ViewData["Title"] = Model.Name;
}
    <iron-ajax url="/api/CrewApi/" last-response="{{data}}" auto></iron-ajax>

<div class="header-row">
    <div class="name">Crew Name</div>
    <div class="time">Time</div>
</div>
    <iron-list scroll-target="document" items="[[data]]" as="item">
        <template>
            <div class="row" onclick="location.href='Results/Crew'">
                <div class="name">
                    [[item.name]]
                </div>
                <div class="time">
                    [[item.time]]
                </div>
            </div>
        </template>
    </iron-list>

