@model HeadRaceTimingSite.Models.Competition
@{
    ViewData["Title"] = Model.Name;
}
<paper-tabs selected="0">
    <paper-tab>Results</paper-tab>
    <paper-tab>Leaderboards</paper-tab>
</paper-tabs>

<results-list competition-id="@Model.CompetitionId" first-intermediate-name="Barnes" second-intermediate-name="Hammersmith" show-first-intermediate show-second-intermediate></results-list>

@section titleBar{
    
        <div main-title>@ViewData["Title"]</div>
        <paper-icon-button icon="search" id="searchButton"></paper-icon-button>
        <paper-icon-button icon="cloud-download" id="downloadButton"></paper-icon-button>
    <div class="search">
        <paper-icon-button icon="arrow-back" on-tap="searchToggle"></paper-icon-button>
        <input id="searchbox" flex>
    </div>
}

@section scripts{ 
    <script>
        var active = false;

        window.addEventListener('WebComponentsReady', function (e) {
            document.querySelector("#searchButton").addEventListener("click", function (e) {
                active = !active;
                $(".search").css("display", "block");
            });
            document.querySelector("#downloadButton").addEventListener("click", function (e) {
                location.href = '/Competition/DetailsAsCsv/@Model.CompetitionId'
            });
        });
    </script>
}