@model HeadRaceTimingSite.Models.Competition
@{
    ViewData["Title"] = Model.Name;
}

<results-list competition-id="@Model.CompetitionId" first-intermediate-name="Barnes" second-intermediate-name="Hammersmith" show-first-intermediate show-second-intermediate></results-list>

@section titleBar{
    
        <div main-title>@ViewData["Title"]</div>
    <div class="notSearch">
        <paper-icon-button icon="search" id="searchButton"></paper-icon-button>
        <paper-icon-button icon="cloud-download" id="downloadButton"></paper-icon-button>
    </div>
    <div class="search">
        <paper-icon-button icon="arrow-back" id="backButton"></paper-icon-button>
        <paper-input class="flexChild"></paper-input>
    </div>
}

@section scripts{ 
    <script>
        window.addEventListener('WebComponentsReady', function (e) {
            document.querySelector("#searchButton").addEventListener("click", function (e) {
                $(".search").css("display", "block");
                $(".notSearch").css("display", "none");
                $("[main-title]").css("display", "none");
            });
            document.querySelector("#backButton").addEventListener("click", function (e) {
                $(".search").css("display", "none");
                $(".notSearch").css("display", "block");
                $("[main-title]").css("display", "block");
            });
            document.querySelector("#downloadButton").addEventListener("click", function (e) {
                location.href = '/Competition/DetailsAsCsv/@Model.CompetitionId'
            });
        });
    </script>
}