@model HeadRaceTimingSite.Models.Competition
@{
    ViewData["Title"] = Model.Name;
    ViewData["TitleColor"] = Model.BackgroundHtmlColor;
}

@section imports {
    <link rel="import" href="~/components/results-list.html" />
    <link rel="import" href="~/lib/paper-dialog/paper-dialog.html" />
}

@section titleBar{
    <div main-title>@ViewData["Title"]</div>
    <paper-icon-button icon="cloud-download" id="downloadButton"></paper-icon-button>
    <paper-icon-button onclick="dialog.open()" icon="info"></paper-icon-button>
}

@section titleStyle{
    <style>
        app-header {
            background-color: #@ViewData["TitleColor"];
            color: #fff;
        }
    </style>
}

<results-list competition-id="@Model.CompetitionId" first-intermediate-name="Barnes" second-intermediate-name="Hammersmith" search-value="{{searchValue}}" show-first-intermediate show-second-intermediate></results-list>

<paper-dialog id="dialog">
    <h2>Information</h2>
    <p>All the times on this page are provisional subject to any penalties being applied. Full results will be available from the 
    <a href="http://www.wehorr.org">Women's Head of the River Race website</a> after racing has finished.</p>

    <p>Crew lists may not show recent substitutions as these do not update automatically. The data will be updated at close of substitutions on race day.</p>
</paper-dialog>

@section scripts {
    <script>
    document.querySelector("#downloadButton").addEventListener("click", function (e) {
        location.href = '/Competition/DetailsAsCsv/@Model.CompetitionId'
    });
    </script>
}