@using HeadRaceTimingSite.Models
@model IEnumerable<Competition>
@{
    ViewData["Title"] = "Home Page";
}

<div class="bodyDetails">
   @foreach (var item in Model)
    {
        <div class="mdc-card competitionCard" style="background-color: #@item.BackgroundHtmlColor" data-competition-id="@item.FriendlyName">
            <div class="mdc-card__primary-action">
                @if (String.IsNullOrEmpty(item.ImageUriText))
                {
                    <div class="mdc-typography--headline6" style="color: #@item.TextHtmlColor">@item.Name</div>
                }
                else
                {
                    <div class="mdc-card__media" style="background-image: url('@item.ImageUriText')">
                        <div class="mdc-card__media-content mdc-typography--headline6" style="color: #@item.TextHtmlColor">@item.Name</div>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        window.addEventListener('WebComponentsReady', function (e) {
            document.querySelectorAll(".competitionCard").forEach(function (element) {
                element.addEventListener("click", function (e) {
                    location.href = '/Competition/Details/' + this.getAttribute("data-competition-id");
                });
            })
        });
    </script>
}