@using HeadRaceTimingSite.Models
@model IEnumerable<Competition>
@{
    ViewData["Title"] = "Home Page";
}

<div class="header-row">
    <div class="name">Event Name</div>
</div>
@foreach (var item in Model)
{
<div class="row" onclick="location.href='Competition/Details/@item.CompetitionId'">
    <div class="name">
        @item.Name
    </div>
</div>
}